body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #333;
}

/* Contenedor del video */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    max-width: 640px;
}

video, canvas {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}

.info span {
    font-weight: bold;
    color: #007BFF;
}

/* Estilos para el botón de carga de archivos */
.file-upload {
    margin-top: 20px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    transition: background 0.3s ease;
}

.file-upload label:hover {
    background-color: #0056b3;
}
